@using SnackShop.Models;
@model List<SnackShop.Models.Flavor>;
<strong>
  @Html.ActionLink("Flavors:", "Index", "Flavors" )
</strong>
@if (@ViewBag.Flavors.Count != 0)
{
  <ul>
  @foreach (Flavor flavor in ViewBag.Flavors)
  {
    <li>
      @Html.ActionLink($"{flavor.FlavorName}", "Details", "Flavors", new { id = flavor.FlavorId })
    </li>
  }
  </ul>
}