@using SnackShop.Models;
@model List<SnackShop.Models.Treat>;
<strong>
  @Html.ActionLink("Treats:", "Index", "Treats")
</strong>
@if(ViewBag.Treats.Count != 0)
{
  <ul>
  @foreach(Treat treat in ViewBag.Treats)
  {
    <li>
      @Html.ActionLink($"{treat.TreatName}", "Details", "Treats", new { id = treat.TreatId })
    </li>
  }
  </ul>
}