@using SnackShop.Models;
@model List<SnackShop.Models.Treat>;

  @if(
    ViewBag.Treats.Count == 0
  )
  {
    @Html.ActionLink(
      "Create new Treat Profile",
      "Create",
      "Treats"
    )
  }
  else
  {
    @foreach (
      Treat treat in ViewBag.Treats
    )
    {
      <p>
      @Html.ActionLink(
        $"{treat.TreatName}",
        "Details",
        "Treats",
        new { id = treat.TreatId }
      )
      </p>
    }
    @Html.ActionLink(
      "Treat Profile Index",
      "Index",
      "Treats"
    )
  }