body {
  background: #dcd;
  margin: 0rem 1rem;
}

.navigation {
  margin-bottom:2rem;
  font-size: 1.75rem;
}

.navigation a:first-of-type {
  margin:1rem;
}

.navigation a {
  margin:3rem;
}

.table tr:nth-child(odd) {
  background-color:#dde;
}

ul {
  list-style-type: none;
}

.view-all {
  font-weight: bold;
  margin: 1rem;
}

.containment {
  margin-left: 5rem;
  margin-right: 5rem;
}

.btn {
  background-color: #dde;
  padding: .25rem .5rem;
}

li .btn {
  margin-left: 3rem;
}

.button {
  position:absolute;
  top: .25rem;
  right: .5rem;
}