@{
  Layout = "_Layout";
}
@using System.Security.Claims

@if (User.Identity.IsAuthenticated)
{
  <p>You're logged in!</p>

  @using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit" value="log out" class="btn" />
  }
}
else
{
  <p>You can log into your account from the navigation bar, or you can create a new account.</p>
}